

h1 {
  font-size: 40px;
  font-family: Arial
}
h2 {
  font-size: 25px;
  font-family: Arial
}
h3 {
  font-family: Arial
}
p {
  font-size: 14px;
  font-family: Arial
}
div {
  background-color: blue;
  text-align: right;
}
 table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
        font-family: Arial, sans-serif;
    }

    th, td {
        border: 1px solid #dddddd; 
        padding: 12px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2; 
        font-weight: bold;
    }

    
    tr:nth-child(even) {
        background-color: #f9f9f9; 
    }

    
    tr:hover {
        background-color: #e1e1e1; 
    }

    .highlight {
        background-color: #ffcccc; 
    }

    .highlight td {
        font-weight: bold;
    }

    .center-text {
        text-align: center;
    }

   
    .center-content {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .unit-details th {
        background-color: #a0b8f9; 
        color: black; 
    }

    .unit-details td {
        border-color: #d7f9d7; /
    }


    .scheduled-activities td {
        background-color: #c3d5f5; 
        font-weight: bold;
    }

